.header_img{
    width: 100%;
    height: 100vh;
    position: relative;
}
ul{
    display: flex;
    text-align: center;
}
span{
    color:yellow;
}
.text{
    top: 50%;
    left: 25%;
    text-align: center;
    position: absolute;
    z-index: 9
}
p{
    color:white;
    text-align: center;    
}
button .n4{
    margin-top: 350px;
    text-align: center;
}
section{
    display: flex;
    flex-wrap: wrap;
}
.link{
    height: 650px;
    width: 800px;
}
.corusel-inner{
    width: 100%;
    height: 600px;
}
.my-flex1{
    margin-top: 100px;
    display:flex;
    justify-content: space-between;
}
.my-flex1 .B{
    top:200px;
    background-color:rgb(105, 100, 100);
    height: 650px;
    width: 800px;
}
.B .h2{
    top: 50%;
    left: 25%;
    text-align: center;
}
h2{
    padding-top: 60px;
    text-align: center;
}
.mb{
    color:white;
}
p{
    display: flex;
    text-align: center;
    padding-top: 50px;
}
.n8{
    margin-left: 300px;
}

.my .A{
    background-color:white;
    height: 450px;
    width: 500px;
}
.l3{
    margin-left: -15px;
    margin-bottom: -45px;
}
p{
    color:black;
}
.B{
    background-color: sandybrown;
    height: 550px;
    width: 500px;
}
.C{
    height: 450px;
    width: 500px;
}
.my{
    display: flex;
    justify-content: space-between;
}
.l1{
    display: flex;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 100px;
}
i{
    padding-top: 30px;
    margin-left: 170px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.l9{
    display: flex;
    justify-content: space-between;
    background-color:rgb(105, 100, 100);
}
.l8{
    color:white;
    margin-left: 680px;
    margin-bottom: 50px;
}


